.profile {
 font-size: 30px;
 font-weight: bold;
 padding: 1rem;
 margin: 2rem auto;
 width: 100%;
 
 border: 2px black;
 border: 2px solid #b9ff08;
 border-bottom: 3px solid #fcfc0d;
 background-image: url(https://e1.pxfuel.com/desktop-wallpaper/910/222/desktop-wallpaper-steam-community-guide-pink-profile-backgrounds-aesthetic-dark-pink.jpg);
 background-repeat: no-repeat;
 background-size: 100% 100%;

 .card {
   max-width: 100%;
   display: flex;
   justify-content: flex-start;
   padding: 1rem 0;
   border: 2px black;
 border: 2px solid #b9ff08;
 border-bottom: 3px solid #fcfc0d;



   span.profile-photo {
     text-align: center;
   }
   

   img {
     width: 100%;
     max-width: 350px;
     padding-right: 1rem;
     padding-left: 1rem;
   }
   span.profile-data {
     margin: 0 1rem;
    
   }
  //  span.profile-data > * {
  //    border-top: 1px solid #ccc;
  //    padding: 5px 0;
  //  }
   b{
     font-weight: bold;
   }
 }
}

@media screen and (max-width: 600px) {
 span.profile-photo {
   margin: auto;
 }
}
.p{
  font-size: 30px;
  
}
form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
    border: 1px solid #1f1e1e;
    border-bottom: 3px solid #1d1b1b;
    border-radius: 3px;
    outline: none;


    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #c018cb;
    }

    &:focus:invalid {
     border-bottom: 3px solid #4ede26;
    }
  }
}
