.--pad header {
 //background-color: rgb(234, 132, 59);
//  background-color: #1a1576;
}
.--fw-thin {
 font-size: 50px;
}
.--btn {
 padding: 5px;
  font-size: 30px;
 font-weight: bold;
 background-color: blue;
 text-align: right;
 padding-right: 50px;

}
.--color-danger {
 font-size: 50px;
//  font-style: italic;
 font-weight: bold;
//  background-color: rgb(228, 219, 218);
 
 
}
.--fw-thi{
 font-size: 50px;
 //background-color: salmon;

}
.--pad{
  background-color: rgb(230, 141, 205);

}